# which branches you want travis to run tests on.
# remove this block if you want to test all branches
branches:
  only:
    - develop
    - master

# which versions of PHP to test against
language: php
php: 
  - 5.4
  - 5.5
  - 5.6
  - hhvm

# run tests once with each of these environment variables. use --prefer-lowest
# to make sure that our composer.json version constraints aren't wrong
env:
  - COMPOSER_ARGS=""
  - COMPOSER_ARGS="--prefer-lowest"

# prepare the system for installation
before_install:
  - cp .env.example .env

# install dependencies
install:
  - composer update ${COMPOSER_ARGS} --dev --no-interaction

# run the tests
script:
  - phpunit

# if you don't need sudo, this flag will speed up your test process
sudo: false
